trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.10'
  displayName: 'Use Python 3.10'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install Azure ML Pipeline Dependencies'

- task: AzureCLI@2
  inputs:
    azureSubscription: 'ml-service-connection'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: 'python src/create-and-run-pipeline.py'
  displayName: 'Execute Azure ML Pipeline'

- task: AzureCLI@2
  inputs:
    azureSubscription: 'ml-service-connection'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: 'python src/compare-and-promote-send.py'
  displayName: 'Compare and promote model'

